/* Login.module.css */
.dashboardContainer {
  display: flex;
  flex-direction: column;
}

.mainContentContainer {
  display: flex;
  margin-top: 180px;
  justify-content: center;
  padding: 70px;
  padding-bottom: 0px;
  display: flex;
  /* justify-content: space-between; */
  /* width: 90%; */
  /* max-width: 1200px; */
  /* background-color: white; */
  border-radius: 25px;
  padding: 20px;
}

.mainContent {
  display: flex;
  justify-content: space-between;
  /* width: 90%; */
  /* max-width: 1200px; */
  background-color: white;
  border-radius: 25px;
  /* box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); */
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.5);
  padding: 35px;
}

.imageContainer {
  position: relative;
  width: 50%;
  border-radius: 25px;
}

.image {
  width: 100%;
  border-radius: 25px;
  max-width: 70vh;
}

.logoOverlay {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  /* padding: 10px; */
  border-radius: 50%;
}

.logo {
  width: 60px;
}

.loginContainer {
  width: 40%;
  background-color: white;
  padding: 15px 30px 0px 30px;
  border-radius: 25px;
}

.loginTitle {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 0px;
}

.formGroup {
  margin-bottom: 20px;
}

.formGroup label {
  display: block;
  font-size: 1rem;
  margin-bottom: 5px;
}

.formGroup input {
  width: 96%;
  padding-block: 10px;
  border-radius: 10px;
  padding-left:10px ;
  border: 1px solid #ccc;
}

.loginButton {
  /* background-color: #0D4470; Match your theme color */
  width: 100%;
  padding: 12px;
  /* background-color: #0d4470; */
  /* color: white; */
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  background-color: #3b8fd1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

.loginButton:hover {
  background-color: #0a2e4d; /* Darker shade for hover effect */
}
.loginButtonGoogle {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 4px 10px;
}
.loginButtonGoogle:hover {
  background-color: white;
}

.resetButton {
  background-color: transparent;
  color: #0d4470;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 10px;
  float: right;
}
.passwordContainer {
  position: relative;
  margin-top: 10px; /* Add some margin for spacing */
}

/* .passwordInput {
   width: 100%; 
   padding: 10px 40px 10px 10px; Add padding to accommodate the eye button 
   border: 1px solid #ccc;
   border-radius: 5px; 
   font-size: 16px; 
} */

.eyeButton img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  height: 18px;
  color: #0d4470; /* Match the color with your theme */
}
