.content{
    padding:10%; 
    padding-bottom: 0px;
    color: #0F7A27;
    padding-top: 200px;
}
.sampleResume{
    position: absolute;
    bottom: 0;
    right:10%;
    border-radius: 8px 8px 0px 0px ;
    background-color: #0F7A27;
    color:#FFFFFF;
    padding: 5px 20px;
}